<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title></title>
</head>

<body>

  <div class="container">
    Name: <input [(ngModel)]="name" />
    <br />
    You entered: {{name}}
    <hr /><br>
    <table id="table1" border="1">
      <tr>
        <th colspan="2">
          Employee Details
        </th>
      </tr>
      <tr>
        <td>First Name</td>
        <td>{{name}}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{lastName}}</td>
      </tr>
      <tr *ngIf="showDetails">
        <td>Gender</td>
        <td>{{gender}}</td>
      </tr>
      <tr *ngIf="showDetails">
        <td>Age</td>
        <td>{{age}}</td>
      </tr>
    </table>
    <button (click)="toggleDetails()">{{showDetails ? "Hide" : "Show"}} Details</button>

  </div>


</body>
</html>
