<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">JavaScript Sandbox</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav">

          <li><a href="home.html">Home</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="test.html">Sandbox</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item ml-auto">
            <a href="#" class="nav-link text-dark glyphicon glyphicon-user">Register</a>
          </li>
          <li class="nav-item ml-auto">
            <a href="#" class="nav-link text-dark glyphicon glyphicon-user">Login</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div class="container body-content">
    <h2>{{title}}</h2>
    <hr /><br>
    <table id="table1" border="1">
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr>
        <td>Alfreds</td>
        <td>Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Centro</td>
        <td>Francisco</td>
        <td>Mexico</td>
      </tr>
      <tr>
        <td>Rentro</td>
        <td>Grancisco</td>
        <td>Pexico</td>
      </tr>
      <tr>
        <td>Aentro</td>
        <td>Brancisco</td>
        <td>Cexico</td>
      </tr>
    </table>
  </div>

</body>

</html>
